.tab a {
    display: block;
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid #666;
}

.clear {
    clear: both;
}

#primero {
    background-color: red;
    width: 100%;
    height: 100%;
}

#segundo {
    background-color: green;
    width: 100%;
    height: 100%;
}

#tercero {
    background-color: blue;
    width: 100%;
    height: 100%;
}