<html>
<head>
<title>Test</title>
<style type="text/css">
.nombre{
    background-color:#f30b0b;
}
</style>
</head>
<body>
<p id="id_0" style="font-family: Verdana; font-size: 12px; font-color: navy"><b>Universal selector</b><br />
Selector text: <a href="internal_goto_object_0" target="_blank">.nombre</a></p>
<p class="nombre">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
</body>
</html>
