<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock titulo %}</title>
    {% block javascript %} {% endblock javascript %}
    {% block estilo %} {% endblock estilo %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    {#menu script#}
    <script>
        $(function () {
            $("#menu").menu();
        });
    </script>
</head>
<body>
<header> {% block encabezado %}{% endblock encabezado %}</header>

<nav>
    <div style="position: absolute; top: 20px; left: 0px; z-index: 100">
        <ul id="menu">
            <li><a href="/">Inicio</a>
            </li>
            <li><a href="#">Clientes</a>
                <ul>
                    <li><a href="/cliente/nuevo/">Nuevo</a></li>
                    <li><a href="/cliente/listado/">Listado de Clientes</a></li>
            </li>
        </ul>
        </li>
        <li><a href="/siniestro/nuevo/1">Siniestro</a>
            <ul>
                <li><a href="">Listado</a></li>
                <li><a href="#32">Filtrados</a></li>
            </ul>
        </li>
        <li><a href="#">Opciones</a>
            <ul>
                <li><a href="/aseguradora/nuevo">Aseguradora</a></li>
                <li><a href="/profesional/nuevo">Profesionales</a></li>
                <li><a href="/agente/nuevo">Agentes</a></li>
            </ul>
        </li>
        </ul>
    </div>
</nav>

<section class="contenido">
    {% block contenido %}{% endblock contenido %}
</section>

</body>
</html>