{% extends 'base.html' %}
{% block titulo %} Listado de Clientes {% endblock titulo %}
{% block encabezado %}
    <center> <h1>Listado de Clientes</h1></center>{% endblock encabezado %}
{% block estilo %}{% load staticfiles %}
    <link href="static/css/base.css" type="text/css" rel="stylesheet"/>
{% endblock estilo %}
{% block contenido %}
    <table>
        <tr>
            <td><strong>Cliente</strong></td>
            <td><strong>DNI</strong></td>
            <td><strong>Telefono</strong></td>
        </tr>
        {% for elemento in lista %}
            <tr>
                <td>{{ elemento.apellido1 }} {{ elemento.apellido2 }}, {{ elemento.nombre }}</td>
                <td>{{ elemento.dni }}</td>
                <td>{{ elemento.telefono }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock contenido %}
