{% extends 'base.html' %}
{% block titulo %} Nuevo Cliente{% endblock titulo %}
{% block encabezado %}
    <div style="text-align: center;"><h1>Nuevo Cliente</h1></div>{% endblock encabezado %}
{% block estilo %}{% load staticfiles %}
    <link href="static/css/listado.css" type="text/css" rel="stylesheet"/>
{% endblock estilo %}
{% block contenido %}

    <div class="tabla">
        <table>
            <tr>
                <td>
                    Cliente
                </td>
                <td>
                    DNI
                </td>
                <td>
                    Telefono
                </td>
            </tr>{% for elemento in lista %}
            <tr>
                <td>
                    <a href='/cliente/detalle/{{ elemento.id }}'>{{ elemento.apellido1 }} {{ elemento.apellido2 }}, {{ elemento.nombre }}</a>
                </td>
                <td>
                    {{ elemento.nif }}
                </td>
                <td>
                    {{ elemento.telefono }}
                </td>
            </tr>{% endfor %}
        </table>
    </div>


{% endblock contenido %}
