{% extends 'base.html' %}
{% block titulo %} Nuevo Cliente{% endblock titulo %}
{% block encabezado %}
    <div style="text-align: center;"> <h1>Nuevo Siniestro</h1></div>{% endblock encabezado %}
{% block estilo %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
{% endblock estilo %}
{% block contenido %}
    <form id="formulario" method="post" enctype="multipart/form-data" action="" class='formulario'>{% csrf_token %}
        {% for field in formulario %}
            <div class="{{ field.name }}">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }} {{ field.help_text }}
            </div>
        {% endfor %}
        <input type="submit" value="dar de alta" class="boton"/></form>
{% endblock contenido %}
